<%if @user === current_user %>

<div class="container">
  <div class="tabs">
    <%= link_to "Your Listings", listings_path(@user.cats), class: "tab active" %>
    <%= link_to "Your Bookings", listings_path(@user.cats), class: "tab" %>
    <%= link_to "Profile", listings_path(@user.cats), class: "tab" %>
  </div>
<% end %>

<div class="container" id="users_show_page">
  <h3><%= @user.first_name + " " + @user.last_name %></h3>
  <p><%= @user.city %></p>
  <div class="row">
    <% @user.cats.each do |c|%>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", cat: c %>
      </div>
    <% end %>

  </div>
  <%if current_user %>
    <%= link_to "Add a cat", new_cat_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <%= link_to "Edit profile", edit_user_registration_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>
</div>


  <!-- <a class="tab" href="#">
    <h3>Your Bookings</h3>
  </a>
  <a class="tab" href="#">
    <h3>Your Listings</h3>
  </a>
  <a class="tab" href="#">
    <h3>Inbox</h3>
  </a> -->
