<div class="container">

  <div class="top-title-alignment">
    <div style="background-image: url(<%= @user.photo %>); height: 60px; width: 60px; background-size: cover !important;" class="avatar">
    </div>
    <div class="user-title">
      <h3><%= @user.first_name + " " + @user.last_name %></h3>
      <p><%= @user.city %></p>
    </div>
  </div>
  <%if @user === current_user %>
    <div class="tabs">
      <%= link_to "Your cats", '#', class: "tab active", id: "your-cats-button" %>
      <%= link_to "Your Bookings", '#', class: "tab", id: "your-bookings-button" %>
      <%= link_to "Edit Profile", '#', class: "tab", id: "edit-profile-button" %>
    </div>
  <% end %>
</div>


<div class="container" id="users_show_page">

  <div id="my-cats">
    <div class="row">
      <% @user.cats.each do |c|%>
        <div class="col-xs-12 col-sm-4">
          <%= render "card", cat: c %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%if current_user == @user %>
          <%= link_to "Add a cat", new_cat_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="edit-form" class="edit-user-form hidden">
    <div class="row">
        <%= render "devise/registrations/edit_user_form_in_profile" %>
    </div>
    <div class="row text-center">
      <h5>Or</h5>
      <%= button_to "Delete my account", registration_path(resource_name), method: :delete, class: "btn form-button light-padding", data: { confirm: "Are you sure?" }, style: 'width:100%' %>
    </div>
  </div>

  <div id="my-bookings" class="container hidden">
    <h4><i class="fa fa-user" aria-hidden="true"></i> - People who booked your cats</h4>
    <div class="container">
      <% @reservations_own_cats.each do |resa| %>

        <div style="display:flex; align-items:center; justify-content:space-around;">

          <div class="card-image-no-hover avatar" style="height: 100px; width:100px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cloudinary_url(resa.user.photo) %>);">
          </div>


          <p>Duration : <%= resa.start_date %> - <%= resa.end_date %></p>
          <p>Price : <%= resa.price %>$</p>
          <p>Cat : <%= resa.cat.name %></p>

          <div>
            <%= simple_form_for([resa.cat, resa]) do |form| %>
              <%= form.input :user_review, :label => "Content" %>
              <%= form.input :user_rating, as: :select, collection: Reservation::RATING, include_blank:  "Select a rating", :label => "Rating" %>
              <%= form.button :submit, "Review !", class: 'form-button' %>
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
    <hr>

    <h4><i class="fa fa-paw" aria-hidden="true"></i> - Cats you've booked</h4>
    <% @reservations_done_user.each do |resa| %>
      <div style="display:flex; align-items:center; justify-content:space-around;">

        <div class="card-image-no-hover avatar" style="height: 100px; width:100px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cloudinary_url(resa.cat.photo) %>);">
        </div>

        <p>Duration : <%= resa.start_date %> - <%= resa.end_date %></p>
        <p>Price : <%= resa.price %>$</p>
        <p>Cat : <%= resa.cat.name %></p>
        <div>
          <%= simple_form_for([resa.cat, resa]) do |form| %>
            <%= form.input :cat_review, :label => "Content" %>
            <%= form.input :cat_rating, as: :select, collection: Reservation::RATING, include_blank:  "Select a rating" %>
            <%= form.button :submit, "Review !", class: 'form-button' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <% content_for :after_js do %>
    <script>
      $("#your-cats-button").on("click", function(event) {
        event.preventDefault();
        $(".tabs > a").removeClass("active");
        $("#your-cats-button").addClass("active");
        $("#my-cats").removeClass("hidden")
        $("#my-bookings").addClass("hidden")
        $("#edit-form").addClass("hidden")
      });

      $("#your-bookings-button").on("click", function(event) {
        event.preventDefault();
        $(".tabs > a").removeClass("active");
        $("#your-bookings-button").addClass("active");
        $("#my-cats").addClass("hidden")
        $("#my-bookings").removeClass("hidden")
        $("#edit-form").addClass("hidden")
      });

      $("#edit-profile-button").on("click", function(event) {
        event.preventDefault();
        $(".tabs > a").removeClass("active");
        $("#edit-profile-button").addClass("active");
        $("#my-cats").addClass("hidden")
        $("#my-bookings").addClass("hidden")
        $("#edit-form").removeClass("hidden")
      });

    </script>
  <% end %>
</div>
