<div class="card">
  <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cloudinary_url(cat.photo) %>);">
    <div class="cat-categories">
      <p>#<%= cat.category %></p>
    </div>
    <div class="cat-race">
      <p>#<%= cat.race.capitalize %></p>
    </div>
    <div class="cat-name">
      <h2><%= cat.name.capitalize %></h2>
    </div>
    </div>
    <div class="card-content">
    <div class="class card-content-top-items">
      <%= image_tag cat.user.photo, class:"card-user avatar" %>
    </div>
      <p><%= cat.description %></p>
    <div class="cat-booking-details">
      <span class="cat-price">$<%= cat.price_per_day %>/Day</span>
      <ul>
      <i class="fa fa-star cat-rating"></i>
      <i class="fa fa-star cat-rating"></i>
      <i class="fa fa-star cat-rating"></i>
      </ul>
    </div>
  </div>
</div>
