<div class="card">
  <div class="cat-picture">
    <%= link_to cat_path(cat.id) do %>
      <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cloudinary_url(cat.photo) %>);">
      </div>
    <% end %>
    <div class="cat-categories">
      <%= link_to category_path(cat.category) do %>
        <p id="categories">#<%= cat.category %></p>
      <% end %>
    </div>
    <div class="cat-races">
      <%= link_to race_path(cat.race) do %>
      <p id="races">#<%= cat.race %></p>
      <% end %>
    </div>
    <div class="cat-name">
      <h2><%= cat.name.capitalize %></h2>
    </div>
    <%#= link_to "", cat_path(cat.id), class: "card-link" %>
  </div>
  <div class="card-content">
    <div class="class card-content-top-items">
      <%=link_to(image_tag(cat.user.photo, class:"card-user avatar"), user_path(cat.user)) %>
    </div>
      <p><%= cat.description %></p>
    <div class="cat-booking-details">
      <span class="cat-price">$<%= cat.price_per_day %>/Day</span>
      <ul>
      <i class="fa fa-star cat-rating"></i>
      <i class="fa fa-star cat-rating"></i>
      <i class="fa fa-star cat-rating"></i>
      </ul>
    </div>
  </div>
</div>

