<div class="container" id="cats_show_page">
  <div class="container summary">
    <div class="bio">
      <h2 id="name"><%= @cat.name.capitalize %></h2>
      <p><%= @cat.intro.capitalize %></p>
      <span id="cat age"></span>
      <p id="cat-price">$<%= @cat.price_per_day %>/Day</p>
    </div>
    <div class="img-filter">
      <div class="card-image-no-hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cloudinary_url(@cat.photo) %>);">
      </div>
      <span class="cat-category" id="category" >#<%= @cat.category %></span>
      <span class="cat-race" id="race">#<%= @cat.race.capitalize %></span>
    </div>
  </div>
  <div class="container cat-details">
    <div class="row">
      <div class="col xs-12 col-sm-12 col-md-8" style="padding-right: 70px;"
>
        <div class="row section">
          <div class='col xs-12 col-sm-3 col-md-3 center-sm'>
          <i class="fa fa-paw paw-dark-grey"></i>
          </div>
          <div class='col xs-12 col-sm-9 col-md-9' id="owner-bio">
            <p id="sub-title"> A little more about <%= @cat.name %></p>
            <% if @cat.description %>
                <p class="text"><%= @cat.description %></p>
              <% else %>
                <p class="text"> No descritpion for this cat yet! </p>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row section">
          <div class='col xs-12 col-sm-3 col-md-3 center-sm'>
          <i class="fa fa-heart"></i>
          </div>
          <div class='col xs-12 col-sm-9 col-md-9' id="owner-bio">
            <p id="sub-title">How to take care of <%= @cat.name %></p>
            <% if @cat.care_instructions %>
                <p class="text"><%= @cat.care_instructions %></p>
              <% else %>
                <p class="text"> No care instructions yet! </p>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row section">
          <div class='col xs-12 col-sm-3 col-md-3 center-sm'>
            <%= image_tag("fishbone.png") %>
          </div>
          <div class='col xs-12 col-sm-9 col-md-9' id="owner-bio">
            <p id="sub-title">Diet and food directions</p>
            <% if @cat.diet_instructions %>
                <p class="text"><%= @cat.diet_instructions %></p>
              <% else %>
                <p class="text"> No diet instructions yet! </p>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row section">
          <div class='col xs-12 col-sm-3 col-md-3 center-sm'>
            <i class="fa fa-exclamation-circle"></i>
          </div>
          <div class='col xs-12 col-sm-9 col-md-9' id="owner-bio">
            <p id="sub-title">Booking rules</p>
            <% if @cat.booking_rules %>
                <p class="text"><%= @cat.booking_rules %></p>
              <% else %>
                <p class="text"> No particular booking instructions yet! </p>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="row section">
          <div class='col xs-12 col-sm-3 col-md-3 center-sm'>
            <div id='owner-avatar' >
              <%=link_to(image_tag(@cat.user.photo, class:"avatar-large"), user_path(@cat.user)) %>
            </div>
          </div>
          <div class='col xs-12 col-sm-9 col-md-9' id="owner-bio">
            <div>
              <p id="sub-title">Meet the owner: <%= @cat.user.first_name%></p>
              <p class="text"><%= @cat.user.bio %></p>
            </div>
          </div>
          <hr>
        </div>
      </div>
       <div class="col xs-12 col-sm-12 col-md-4">
        <p id="sub-title">Book this cat now!</p>
        <%= render 'form_book_show_cat', checkin: @checkin, checkout: @checkout %>
      </div>
    </div>
  </div>
  <div class="container cat-reviews-details">
    <div class="all-reviews">
      <p id="reviews-title">Reviews for <%= @cat.name %></p>
      <ul class="review-text" style="list-style-type:none">
        <% @all_resa.each do |resa| %>
          <ul class="list-inline">
            <li><%= resa.cat_review %></li>
            <% if resa.cat_rating %>
              <%= ('<i class="fa fa-star"></i>' * resa.cat_rating).html_safe %>
            <% end %>
          </ul>
        <% end %>
      </ul>
    </div>
  </div>
</div>



